<html>
    <head>
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align:center;"><img src="{{ absolute_url(asset( img )) }}" alt="image" class="img-thumbnail"></p>
                    <p style="text-align:justify;">Congratulations {{ name }}!!! <br/> You have been offered admission for a 2- Year {{ programme }} in Kaduna Polytechnic, Kaduna.<br/> <strong>Course {{ course }}</strong> in the <strong>Department</strong> of {{ course }}.</p>
                </div>
            </div>
        </div>
    </body>
</html>