<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Kaduna Polytechnic
            {% endblock %}
        </title>
        {% block stylesheets %}
            <style>
                body{
                    background-image:url({{ asset('bg.png') }}); 
                    background-repeat: repeat-x;
                }
                .mynav{
                    background-color:white;
                }
            </style>
            <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block header %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="border-color: #AAA; margin-top:20px; border-style:solid; border-radius:10px; box-shadow:0px 0px 1em #888;padding-top:20px;">
                        <!--<img src="{{asset('icon.jpg')}}" width="100%" class="img-responsive" alt="Responsive image" />-->
                        {% block nav %}
                                <nav class="navbar navbar-inverse" role="navigation">
                                    <div class="col-md-12">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#">Nuhu Bamali Polytechnic</a>
                                        </div>
                                        <div class="collapse navbar-collapse" id='bs-example-navbar-collapse-1'>
                                            <ul class="nav navbar-nav">
                                                <li role="presentation"><a target='_blank' href="https://www.kadunapolytechnic.edu.ng"><span class="glyphicon glyphicon-home" aria-hidden="true"><span style='visibility:hidden;'>ii</span></span>Polytechnic Home</a></li>
                                                <li role="presentation"><a href="{{ url('studentPage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"><span style='visibility:hidden;'>ii</span></span>Home</a></li>
                                                <li role="presentation"><a href="{{ url("homepage") }}logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"><span style='visibility:hidden;'>ii</span></span>Logout</a></li>
                                                <li role="presentation" class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"><span style='visibility:hidden;'>ii</span></span>
                                                    Application <span class="caret"></span>
                                                </a>
                                                    <ul class="dropdown-menu nav">
                                                        <li role="presentation"><a href="{{ url("continueReg") }}"><span class="glyphicon glyphicon-forward" aria-hidden="true"><span style='visibility:hidden;'>ii</span></span>Continue Application</a></li>
                                                        <li role="presentation"><a href="{{ url("editLog") }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"><span style='visibility:hidden;'>ii</span></span>Edit Application</a></li>
                                                        <li role="presentation"><a href="{{ url("addStatus") }}"><span class="glyphicon glyphicon-tasks" aria-hidden="true"><span style='visibility:hidden;'>ii</span></span>Check Admission Status</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            {% endblock %}
                        {% block body %}{% endblock %}
                            
                        {% block footer %}
                            <div class="col-md-12">
                                <hr style="border: solid green 1px;">
                                <div class="col-sm-6">
                                    <strong>We are always ready to address your comments or complaints:</strong>
                                    <br><br>
                                    <ul style="margin-left: 5%;">
                                        <li><a href="#">eportal@kadpoly.edu.ng</a></li>
                                        <li><a href="#">+234 (0) 7067430505</a></li>
                                        <li><a href="#">+234 (0) 7067430512</a></li>
                                        <li><a href="#">+234 (0) 7067430531</a></li>
                                        <li><a href="#">+234 (0) 7067430539</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <strong>To get help fast:</strong>
                                    <br><br>
                                    <ol>
                                        <li>Please do <strong>NOT</strong> call with hidden or 'private' numbers.</li>
                                        <li>Please always go straight to the point, other people are waiting to get help too.</li>
                                        <li>On week days (Monday - Friday), please call between <strong>10:00AM &nbsp;—&nbsp; 4:00PM only.</strong></li>
                                        <li>Kaduna Polytechic Call Centre support services run only on week days; <strong>please do NOT call on weekends.</strong></li>
                                        <li><strong><font color="#FF0000">Your calls will NOT be answered if you fail to comply with the above.</font></strong> Thank you.</li>
                                    </ol>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="col-md-5 col-md-offset-7">
                                    <br />
                                    <span>© 2017: Kaduna Polytechnic, Kaduna - Nigeria.</span>
                                    <hr style="border: solid green 1px; margin-top: 0px">
                                </div> 
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}   
            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
                <script type="text/javascript">
                    $('dropdown-toggle').dropdown();
                </script>
                <script>
                      function printDiv(divName){
                          var printContents= document.getElementById(divName).innerHTML;
                          var originalContents=document.body.innerHTML;
                          document.body.innerHTML=printContents;
                          window.print();
                          document.body.innerHTML=originalContents;
                      }
                </script>
            {% endblock %}
        </div>
    </body>
</html>
